@import "tailwindcss/utilities";
@import "tailwindcss";
@import "tailwindcss";


body {
  background-color: white; 
  margin: 0;
  padding: 0;
}
.h3-card {
  font-weight:bold;
  color: rgb(25, 25, 25);
  margin-bottom: 20px;
}

.button-transparent {
  background-color: transparent;
  border: 2px solid #003459;
  color: #003459;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-transparent:hover {
  background-color: #003459;
  color: white;
}
